<h2 id="title">Welcome to Ember</h2>
<ul>
	<li>{{link-to 'About' 'about'}}</li>
	<li>{{link-to 'Page 1' 'page-1'}}</li>
	<li>{{link-to 'Page 2' 'page-2'}}</li>
	<li>{{link-to 'Page 3' 'page-3'}}</li>
</ul>
{{outlet}}
